# Setup

This is the main jupiter notebook, which is always needed in order to use the other available ipynb files under the src directory.

In [1]:
from all_imports import *

import _modules


_modules.test1()

#Prints all available functions of the _modules folder, generally ignores the '__init__.py', additional files can be added as str in a list.
_modules.print_functions_folder(modules_folder='_modules') #ignore_files=['__init__.py']

 ### test init###
 ### test ###
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src
{'computing': ['calculate_distances',
               'calculate_runs_on_time_difference',
               'calculate_step_count_intensity',
               'calculate_time_difference',
               'flag_on_int_threshold',
               'haversine_vector',
               'pprint'],
 'helper': ['add_dfdata_to_participant_id_in_dictionary',
            'find_files_in_directory',
            'haversine_vector',
            'merge_list_of_columns_in_dictionary',
            'pprint',
            'print_log_separator'],
 'plots': ['Plot_heatmap_participant_data',
           'Plot_linechart_participant_data',
           'Plot_plotly_heatmap_participant_data',
           'haversine_vector',
           'pprint'],
 'utilities': ['folder_variable_setup',
               'haversine_vector',
               'import_scoria_and_add_to_dictionary',
               'pprint',
               'print_functions_folder',
               'query_participants_data',
               'test1']}

In [ ]:
# Test the colors
plt.figure(figsize=(8, 6))
plt.plot([0, 1], [0, 1], color=_modules.TUMBlue, label='TUMBlue')
plt.plot([0, 1], [1, 0], color=_modules.TUMSecondaryBlue, label='TUMSecondaryBlue')
plt.plot([1, 0], [0, 1], color=_modules.TUMSecondaryBlue2, label='TUMSecondaryBlue2')
plt.plot([1, 0], [1, 0], color=_modules.TUMBlack, label='TUMBlack')
plt.plot([0.5, 0.5], [0, 1], color=_modules.TUMWhite, label='TUMWhite')
plt.plot([0, 1], [0.5, 0.5], color=_modules.TUMDarkGray, label='TUMDarkGray')
plt.plot([0.5, 0.5], [1, 0], color=_modules.TUMGray, label='TUMGray')
plt.plot([0, 1], [0, 0], color=_modules.TUMLightGray, label='TUMLightGray')
plt.plot([1, 0], [1, 1], color=_modules.TUMAccentGray, label='TUMAccentGray')
plt.plot([0, 1], [1, 1], color=_modules.TUMAccentOrange, label='TUMAccentOrange')
plt.plot([1, 0], [0, 0], color=_modules.TUMAccentGreen, label='TUMAccentGreen')
plt.plot([0, 1], [0.25, 0.75], color=_modules.TUMAccentLightBlue, label='TUMAccentLightBlue')
plt.plot([1, 0], [0.25, 0.75], color=_modules.TUMAccentBlue, label='TUMAccentBlue')
plt.legend()
plt.show()

# Cozie

## Settings

In [2]:
# <--- Settings --->
YOUR_TIMEZONE = 'Asia/Singapore'
ID_EXPERIMENT = 'esse'
WEEKS = "100"  # Number of weeks from which the data is retrieved, ending now, i.e., start date look up: now - WEEKS, end date look up: now

lst_participants = ['esse00', 'esse02', 'esse07', 'esse08', 'esse09', 'esse10', 'esse11', 'esse13','esse14']  
#lst_participants = ['esse00', 'esse02'] 

toggle_local_data = False #This determines if you want to use already locally stored data (defined in man_identifier), or if the new data should be pulled from Cozie. 
%store toggle_local_data
#'True' - Take manual data
#'False' - Take recent data
man_identifier = '2024-04-04_0045'
%store man_identifier

#Enables additional print statements
#toggle_debugging = True

# <--- Config.py --->
#Store the not publicly available variables needed that are set in the config.py file
API_KEY = _modules.API_KEY


# <--- Directories --->
#Store all necessary folder paths for the directory
(
    directory_path,
    directory_data_raw_path,
    directory_data_processed_path,
    directory_report_path,
    identifier,
    directory_data_ws_path
) = _modules.folder_variable_setup()

pprint([directory_path, directory_data_raw_path, directory_data_processed_path, directory_report_path, identifier, directory_data_ws_path])
%store directory_path
%store directory_data_raw_path
%store directory_data_processed_path
%store directory_report_path
%store identifier
%store directory_data_ws_path

print(directory_data_raw_path)

Stored 'toggle_local_data' (bool)
Stored 'man_identifier' (str)
2024-05-09_1233
['c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\src',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\raw',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\report',
 '2024-05-09_1233',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\watch_surveys']
Stored 'directory_path' (str)
Stored 'directory_data_raw_path' (str)
Stored 'directory_data_processed_path' (str)
Stored 'directory_report_path' (str)
Stored 'identifier' (str)
Stored 'directory_data_ws_path' (str)
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw

## Download or load data

In [3]:
# <--- Load Data and Organize Cozie Data --->
#This queries all defined participants in lst_participants and stores it into a dictionary.
if toggle_local_data == True:
    print('>>> no Cozie data was retreived')   
else:
    man_identifier = ''
    participant_data = _modules.query_participants_data(lst_participants, YOUR_TIMEZONE, ID_EXPERIMENT, WEEKS, API_KEY)
    print('>>> new Cozie was pulled')

    #Here the data will be stored based on the identifier (time) under 'data\raw' which can be later retreived again, for faster processing.
    directory_data_raw_identifier = os.path.join(directory_data_raw_path, identifier)
    if not os.path.exists(directory_data_raw_identifier):
        os.makedirs(directory_data_raw_identifier)

    print(identifier)
    result_dfs = []
    for participant_id, df in participant_data.items():

        result_df_participant = df 
        result_dfs.append(result_df_participant)
        
        # Define the file path for the CSV within identifier directory
        csv_filename = f"Cozie_participant_{participant_id}.csv"
        csv_path = os.path.join(directory_data_raw_identifier, csv_filename)
        result_df_participant.to_csv(csv_path, index=False)


#Reload the data, into the participant_data_local dictionary - if no manual idenfitifer is defined, the previously saved data is stored.
participant_data_local = {}

#Check conditions
if toggle_local_data == True and man_identifier is not None:

#Load locally stored data
    directory_saved_data = os.path.join(directory_data_raw_path, man_identifier)
    # Check if it is available
    if os.path.exists(directory_saved_data):
        for filename in os.listdir(directory_saved_data):
            if filename.endswith(".csv"):
                print(filename)
                # Extract participant ID from the filename
                participant_id = filename.split("_")[2].split(".")[0]

                # Read CSV file into a DataFrame
                csv_path = os.path.join(directory_saved_data, filename)
                df = pd.read_csv(csv_path, low_memory=False) #Low memory false: cause pandas to read the entire file into memory at once, potentially using more memory but better type inference.

                # Add DataFrame to participant_data dictionary
                participant_data_local[participant_id] = df
        print('>>> Reloaded data into the participant_data_local from local data')
else:
    #Load locally stored data, which has been just retreived from Cozie
    directory_saved_data = directory_data_raw_identifier
    # Check if it is available
    if os.path.exists(directory_saved_data):
        for filename in os.listdir(directory_saved_data):
            if filename.endswith(".csv"):
                print(filename)
                # Extract participant ID from the filename
                participant_id = filename.split("_")[2].split(".")[0]

                # Read CSV file into a DataFrame
                csv_path = os.path.join(directory_saved_data, filename)
                df = pd.read_csv(csv_path, low_memory=False) #Low memory false: cause pandas to read the entire file into memory at once, potentially using more memory but better type inference.

                # Add DataFrame to participant_data dictionary
                participant_data_local[participant_id] = df
                
        print('>>> Reloaded data into the participant_data_local from recent Cozie data')

#Store the dataframe
%store participant_data_local

esse00
esse02
esse07
esse08
esse09
esse10
esse11
esse13
esse14
>>> new Cozie was pulled
2024-05-09_1233
Cozie_participant_esse00.csv
Cozie_participant_esse02.csv
Cozie_participant_esse07.csv
Cozie_participant_esse08.csv
Cozie_participant_esse09.csv
Cozie_participant_esse10.csv
Cozie_participant_esse11.csv
Cozie_participant_esse13.csv
Cozie_participant_esse14.csv
>>> Reloaded data into the participant_data_local from recent Cozie data
Stored 'participant_data_local' (dict)

# Compute Data

In [ ]:
# <--- Data Flagging --->

# move settings to here

# Data computing and flagging

## Study Region

In [4]:
#Checks if the points are inside a specific region, defined as a shapefile.

# Load the shapefile for the study region
study_region_shapefile: str = "C:/Users/gottk/OneDrive/GITHUB/calma-esse-heat-stress-internal/Esse/data/study_region"
study_region: Union[gpd.GeoDataFrame, None] = gpd.read_file(study_region_shapefile) 


for participant_id, df in participant_data_local.items():
    df['in_study_region'] = np.nan
    df['participant_id'] = participant_id  

    df['in_study_region'] = df['in_study_region'].astype('str')

    for index, row in df.iterrows():
        if pd.isna(row['index_time']):
            df.at[index, 'in_study_region'] = np.nan
        else:
            point = gpd.points_from_xy([row['ws_longitude']], [row['ws_latitude']])
            if study_region.contains(point[0]).any():
                df.at[index, 'in_study_region'] = np.nan
            else:
                df.at[index, 'in_study_region'] = 'NotRegion'

## Time difference

In [5]:
ws_time_treshold: int = 1000 #in seconds

_modules.print_log_separator(text = 'Computing time difference c_difference_time_ws')
participant_data_local = _modules.calculate_time_difference(participant_data_local,  # type: ignore
                                                            reference_column='q_general_location_envi', 
                                                            identifier='ws', 
                                                            debug=True)
_modules.print_log_separator(text = f'Flagging time difference on {ws_time_treshold}')
participant_data_local = _modules.flag_on_int_threshold(participant_data_local,  # type: ignore
                                                        reference_column='c_difference_time_ws',
                                                        threshold = ws_time_treshold, 
                                                        debug = True)

----------------------------------------------------------------------------------------------------
                           Computing time difference c_difference_time_ws
----------------------------------------------------------------------------------------------------
Iterating now: esse00
Iterating now: esse02
Iterating now: esse07
Iterating now: esse08
Iterating now: esse09
Iterating now: esse10
Iterating now: esse11
Iterating now: esse13
Iterating now: esse14
Results of index_time and calculated time difference in seconds for esse00 in the dictionary, NaN values are removed for presentation

                           index_time id_participant c_difference_time_ws
101   2024-01-18 10:20:12.478000+0800         esse00                 3023
281   2024-01-18 13:00:56.555000+0800         esse00                 9644
885   2024-01-18 19:19:00.332000+0800         esse00                22683
1984  2024-01-19 09:47:05.676000+0800         esse00                52085
2063  2024-01-19 10:13:53.921000+0800         esse00                 1608
2072  2024-01-19 10:19:41.256000+0800         esse00                  347
2080  2024-01-19 10:25:35.466000+0800         esse00                  354
2095  2024-01-19 10:29:12.484000+0800         esse00                  217
2126  2024-01-19 10:34:29.750000+0800         esse00                  317
2159  2024-01-19 10:38:58.410000+0800         esse00                  268

----------------------------------------------------------------------------------------------------
                                  Flagging time difference on 1000
----------------------------------------------------------------------------------------------------
Iterating now: esse00
Iterating now: esse02
Iterating now: esse07
Iterating now: esse08
Iterating now: esse09
Iterating now: esse10
Iterating now: esse11
Iterating now: esse13
Iterating now: esse14
Results for flagged items as booleans for esse00 in the dictionary, NaN values are removed for presentation

,index_time,id_participant,c_difference_time_ws,c_flag_difference
101,2024-01-18 10:20:12.478000+0800,esse00,3023,True
281,2024-01-18 13:00:56.555000+0800,esse00,9644,True
885,2024-01-18 19:19:00.332000+0800,esse00,22683,True
1984,2024-01-19 09:47:05.676000+0800,esse00,52085,True
2063,2024-01-19 10:13:53.921000+0800,esse00,1608,True
2072,2024-01-19 10:19:41.256000+0800,esse00,347,False
2080,2024-01-19 10:25:35.466000+0800,esse00,354,False
2095,2024-01-19 10:29:12.484000+0800,esse00,217,False
2126,2024-01-19 10:34:29.750000+0800,esse00,317,False
2159,2024-01-19 10:38:58.410000+0800,esse00,268,False

## Define Run's

In [6]:
max_threshold: int = 360
min_threshold: int = 1800


_modules.print_log_separator(text = 'Defining indivdual runs c_run_number')
participant_data_local = _modules.calculate_runs_on_time_difference(participant_data_local,  # type: ignore
                                                                    reference_time_column='c_difference_time_ws',
                                                                    min_threshold = max_threshold, 
                                                                    max_threshold = min_threshold, 
                                                                    debug = True)

----------------------------------------------------------------------------------------------------
                                Defining indivdual runs c_run_number
----------------------------------------------------------------------------------------------------
Results of index_time and calculated time difference in seconds for esse00 in the dictionary, NaN values are removed for presentation

,index_time,id_participant,c_difference_time_ws,c_run_number
101,2024-01-18 10:20:12.478000+0800,esse00,3023,1
281,2024-01-18 13:00:56.555000+0800,esse00,9644,2
885,2024-01-18 19:19:00.332000+0800,esse00,22683,3
1984,2024-01-19 09:47:05.676000+0800,esse00,52085,4
2063,2024-01-19 10:13:53.921000+0800,esse00,1608,4
2072,2024-01-19 10:19:41.256000+0800,esse00,347,5
2080,2024-01-19 10:25:35.466000+0800,esse00,354,6
2095,2024-01-19 10:29:12.484000+0800,esse00,217,7
2126,2024-01-19 10:34:29.750000+0800,esse00,317,8
2159,2024-01-19 10:38:58.410000+0800,esse00,268,9

## Flag Steps

In [7]:


_modules.print_log_separator(text = 'Defining indivdual runs c_run_number')
participant_data_local = _modules.calculate_step_count_intensity(participant_data_local, 
                                                        reference_step_column = 'ws_step_count', 
                                                        reference_ws_column = 'q_general_location_envi',  
                                                        reference_timediff_column = 'c_difference_time_ws', 
                                                        debug=True)

----------------------------------------------------------------------------------------------------
                                Defining indivdual runs c_run_number
----------------------------------------------------------------------------------------------------

c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\computing.py:175: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'flag_ws_step_count'] = steps_per_minute >= flag_threshold

Results of index_time and calculated time difference in seconds for esse00 in the dictionary, NaN values are removed for presentation

,index_time,id_participant,c_ws_step_count,c_difference_time_ws,c_ws_step_count_intensity,flag_ws_step_count
71,2024-01-18 09:29:48.901000+0800,esse00,13.0,None,NaN,NaN
101,2024-01-18 10:20:12.478000+0800,esse00,351.0,3023,0.0,False
281,2024-01-18 13:00:56.555000+0800,esse00,451.0,9644,0.0,False
885,2024-01-18 19:19:00.332000+0800,esse00,717.0,22683,0.0,False
1984,2024-01-19 09:47:05.676000+0800,esse00,1150.0,52085,0.0,False
2063,2024-01-19 10:13:53.921000+0800,esse00,108.0,1608,0.0,False
2072,2024-01-19 10:19:41.256000+0800,esse00,808.0,347,0.0,False
2080,2024-01-19 10:25:35.466000+0800,esse00,0.0,354,0.0,False
2095,2024-01-19 10:29:12.484000+0800,esse00,0.0,217,0.0,False
2126,2024-01-19 10:34:29.750000+0800,esse00,0.0,317,0.0,False

## Movement Speed

#### Add Scoria and Skin Temperature Data

In [8]:
#Add Scoria and temperature data before
selected_columns = ['latitude', 'longitude', 'horizontal_accuracy',
                    'msl_altitude', 'ellipsoid_altitude', 'vertical_accuracy', 'story',
                    'speed', 'speed_accuracy', 'course', 'course_accuracy']

time_column = ['index_time']

scoria_file_paths =[r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse00_01_Scoria_Export_2024-04-02_15-11-11.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse02_03_Scoria_Export_2024-03-13_14-26-14.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse07_03_Scoria_Export_2024-03-12_13-51-19.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse08_02_Scoria_Export_2024-03-12_14-14-29.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse09_03_Scoria_Export_2024-03-14_11-59-05.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse10_03_Scoria_Export_2024-03-13_09-07-46.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse11_03_Scoria_Export_2024-03-12_12-10-00.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse13_02_Scoria_Export_2024-03-05_13-02-47.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse14_03_Scoria_Export_2024-03-14_13-54-51.csv']

_modules.print_log_separator(text = 'Adding the Scoria Data to the dictionary')
participant_data_local = _modules.import_scoria_and_add_to_dictionary(scoria_file_paths, 
                                                        participant_data_local, 
                                                        time_column = time_column, 
                                                        selected_columns = selected_columns,
                                                        text_addition = 'Scoria_',
                                                        df_time_column = 'timestamp',
                                                        debug=False)



skintemp_filepath = os.path.join(directory_data_raw_path, 'SkinTemp')
skintemp_file_paths, skintemp_file_names = _modules.find_files_in_directory(skintemp_filepath, 'csv')

selected_columns = ['Value']

additional_column = ['index_time']

for file_paths in skintemp_file_paths:
    print(file_paths)
    df = pd.read_csv(file_paths, skiprows=18)
    df['Date/Time'] = pd.to_datetime(df['Date/Time'], format='%m/%d/%y %I:%M:%S %p')
    
    df['Date/Time'] = df['Date/Time'].dt.tz_localize('UTC').dt.tz_convert('Asia/Singapore')
    df['Date/Time'] = df['Date/Time'].dt.strftime('%Y-%m-%d %H:%M:%S.%f%z')  # Format the time as desired

    df.rename(columns={'Date/Time': 'index_time'}, inplace=True)
    #df.set_index('index_time', inplace=True)  # Setting 'index_time' as index
    renamed_columns = ['Skintemp_' + col for col in selected_columns]
    result_list = renamed_columns
    df.rename(columns={col: 'Skintemp_' + col for col in selected_columns}, inplace=True)

    # Retrieve the participant_id
    filename = os.path.basename(file_paths)
    split_filename = filename.split('_')
    participant_id = split_filename[0]

    #chagned this, does it work now?
    df['participant_id'] = participant_id
    #display(df.head(5))


    # Calling the function
    all_selected_columns = additional_column + renamed_columns
    _modules.add_dfdata_to_participant_id_in_dictionary(df, participant_data_local, participant_id, all_selected_columns)

----------------------------------------------------------------------------------------------------
                              Adding the Scoria Data to the dictionary
----------------------------------------------------------------------------------------------------
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse00_01_Scoria_Export_2024-04-02_15-11-11.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse02_03_Scoria_Export_2024-03-13_14-26-14.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse07_03_Scoria_Export_2024-03-12_13-51-19.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse08_02_Scoria_Export_2024-03-12_14-14-29.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse09_03_Scoria_Export_2024-03-14_11-59-05.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse10_03_Scoria_Export_2024-03-13_09-07-46.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse11_03_Scoria_Export_2024-03-12_12-10-00.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse13_02_Scoria_Export_2024-03-05_13-02-47.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse14_03_Scoria_Export_2024-03-14_13-54-51.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse02_Sensor_01_1D0000007FF62341_022824.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse02_Sensor_02_1D0000007FF62341_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse02_Sensor_03_1D0000007FF62341_031324.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse07_Sensor_01_670000007FF3E241_022724.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse07_Sensor_02_670000007FF3E241_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse07_Sensor_03_670000007FF3E241_031224.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse08_Sensor_01_A00000007FF3A441_022724.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse08_Sensor_02_A00000007FF3A441_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse08_Sensor_03_A00000007FF3A441_031224.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_01_D70000007EABF841_022624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_02_D70000007EABF841_030624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_03_D70000007EABF841_031424.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_04_D70000007EABF841_032024.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_01_F20000007FF60041_022824.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_02_F20000007FF60041_030624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_03_F20000007FF60041_031324.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_04_F20000007FF60041_031924.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse11_Sensor_01_7C0000007EABAF41_022624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse11_Sensor_02_7C0000007EABAF41_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse11_Sensor_03_7C0000007EABAF41_031224.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse13_Sensor_01_360000007FF6D041_022624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse13_Sensor_02_360000007FF6D041_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse14_Sensor_01_240000007FF57041_022924.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse14_Sensor_03_240000007FF57041_031424.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse14_Sensor_04_240000007FF57041_032224.csv

#### Location

In [9]:
#TODO ERROR!

# Creating the merged column
columns_to_merge = ['ws_latitude', 'ts_latitude', 'Scoria_latitude']
participant_data_local = _modules.merge_list_of_columns_in_dictionary(participant_data_local, 
                                                            list_of_columns = columns_to_merge, 
                                                            new_columnname = 'c_latitude')

columns_to_merge = ['ws_longitude', 'ts_longitude', 'Scoria_longitude']
participant_data_local = _modules.merge_list_of_columns_in_dictionary(participant_data_local, 
                                                            list_of_columns = columns_to_merge, 
                                                            new_columnname = 'c_longitude')

c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan

In [10]:
_modules.print_log_separator(text = 'Calculation Location differences')
participant_data_local = _modules.calculate_distances(participant_data_local, 
                                                        reference_column_latitude = 'c_latitude',
                                                        reference_column_longitude = 'c_longitude',
                                                        reference_distance_column = 'c_distance',
                                                        debug=True)

----------------------------------------------------------------------------------------------------
                                  Calculation Location differences
----------------------------------------------------------------------------------------------------

ValueError: Must have equal len keys and value when setting with an iterable

In [11]:
display(participant_data_local['esse00'][['ws_longitude', 'ts_longitude', 'c_longitude']].head(10))
display(participant_data_local['esse00'][participant_data_local['esse00']['ws_longitude'].notna()][['ws_longitude', 'ts_longitude', 'c_longitude']].head(10))

   ws_longitude  ts_longitude  c_longitude
0           NaN           NaN   103.770419
1           NaN           NaN   103.770419
2           NaN           NaN   103.770407
3           NaN    103.770866   103.770403
4           NaN           NaN   103.770339
5           NaN           NaN   103.770405
6           NaN           NaN   103.770388
7           NaN           NaN   103.770428
8           NaN           NaN   103.770394
9           NaN           NaN   103.770423

      ws_longitude  ts_longitude  c_longitude
71      103.770917           NaN   103.770425
101     103.770917           NaN   103.770206
281     103.770883           NaN   103.776250
885     103.773445           NaN   103.800586
1984    103.770938           NaN   103.771246
2063    103.770046           NaN   103.771557
2072    103.770660           NaN   103.771477
2080    103.771599           NaN   103.771503
2095    103.772946           NaN   103.771049
2126    103.774817           NaN   103.770389

In [12]:
movespeed_treshold = 1.5

for participant_id, df in participant_data_local.items():
    df['c_movespeed'] = np.nan 
    df['flag_c_movespeed'] = np.nan 
    
    for index, row in df.iterrows():
        if not pd.isna(row['c_difference_time_ws']) and not pd.isna(row['c_distance']):
            # Convert timedelta to seconds
            time_diff_seconds = row['c_difference_time_ws'].total_seconds()
            # Check if time difference is not zero to avoid division by zero error
            if time_diff_seconds != 0:
                movespeed = row['c_distance'] / time_diff_seconds
                df.at[index, 'c_movespeed'] = movespeed

                if movespeed >= movespeed_treshold:
                    df.at[index, 'flag_c_movespeed'] = True
                else:
                    df.at[index, 'flag_c_movespeed'] = False

C:\Users\gottk\AppData\Local\Temp\ipykernel_44808\308568116.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['c_movespeed'] = np.nan
C:\Users\gottk\AppData\Local\Temp\ipykernel_44808\308568116.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['flag_c_movespeed'] = np.nan

KeyError: 'c_distance'

# Create and Store the data

TO DO"

Create functions for all the above calls

sort this notebook and clean it up

create a new additional dashboard notebook

create a new analysis notebook? maybe based on data

migrate some of this into a thermal walk notebook, to get the necessary data and sort it by time of the outdoor surveys
    then retreive the infromation from Scoria, etc.

In [15]:
#Make a combined dataframe
combined_df = pd.concat(list(participant_data_local.values()), ignore_index=True)

display(combined_df[['index_time', 'c_run_number', 'Scoria_latitude']].head(100))

#display(combined_df.dropna(subset=['Scoria_latitude'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']])
#display(combined_df.dropna(subset=['Skintemp_Value'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']])


#Save the data
file_path_file = os.path.join(directory_data_processed_path, identifier + '_Cozie_main_df.csv')
print(file_path_file)
#combined_df[['participant_id', 'index_time','c_latitude', 'c_longitude', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']].to_csv(file_path_file)
combined_df.to_csv(file_path_file, index=False)

COZIE_MAIN_DF = pd.read_csv(file_path_file)

#Save the data



#Deubgging
#display(combined_df[['participant_id', 'in_study_region']].head(100))
#display(combined_df[['participant_id', 'in_study_region']].dropna(subset=['in_study_region']).head(100))
#combined_df_filtered = combined_df[combined_df['participant_id'] == 'esse02']
#filtered_data = combined_df_filtered.dropna(subset=['ws_step_count', 'q_general_location_envi'], how='all')[['participant_id', 'index_time','ws_latitude','c_latitude', 'c_longitude', 'q_general_location_envi', 'ws_step_count', 'c_difference_time_ws', 'c_run_number', 'c_run_changed', 'c_ws_step_count', 'flag_ws_step_count', 'c_ws_step_count_intensity', 'flag_c_movespeed', 'c_movespeed']].head(60)
#display(filtered_data)
#combined_df.dropna(subset=['ws_step_count'])[['participant_id', 'index_time','ws_latitude', 'ws_step_count', 'c_ws_step_count']].to_csv('test.csv')
#combined_df.dropna(subset=['in_study_region']).to_csv('test.csv')

#index time is not importet yet

                         index_time  c_run_number  Scoria_latitude
0   2024-01-18 00:00:00.000000+0800           0.0              NaN
1   2024-01-18 07:21:45.906000+0800           0.0              NaN
2   2024-01-18 08:54:08.994000+0800           0.0              NaN
3   2024-01-18 08:55:47.902000+0800           0.0              NaN
4   2024-01-18 08:55:48.170000+0800           0.0              NaN
..                              ...           ...              ...
95  2024-01-18 10:08:54.028000+0800           0.0              NaN
96  2024-01-18 10:15:22.029000+0800           0.0              NaN
97  2024-01-18 10:15:23.029000+0800           0.0              NaN
98  2024-01-18 10:18:59.280000+0800           0.0              NaN
99  2024-01-18 10:19:00.280000+0800           0.0              NaN

[100 rows x 3 columns]

,participant_id,index_time,Scoria_latitude,Scoria_longitude,Skintemp_Value
20813,esse00,2023-11-22 22:41:56.000000+0800,1.296587,103.770419,NaN
20814,esse00,2023-11-22 22:42:05.000000+0800,1.296587,103.770419,NaN
20815,esse00,2023-11-22 22:42:31.000000+0800,1.296750,103.770407,NaN
20816,esse00,2023-11-22 22:42:37.000000+0800,1.296676,103.770403,NaN
20817,esse00,2023-11-22 22:42:43.000000+0800,1.296675,103.770339,NaN
...,...,...,...,...,...
679539,esse14,2024-03-13 20:45:01.000000+0800,1.302230,103.852600,NaN
679540,esse14,2024-03-14 13:54:39.000000+0800,1.296362,103.770521,NaN
679541,esse14,2024-03-14 13:54:44.000000+0800,1.296362,103.770521,NaN
679542,esse14,2024-03-14 13:54:45.000000+0800,1.296611,103.770414,NaN
679543,esse14,2024-03-14 13:54:51.000000+0800,1.296437,103.770484,NaN

,participant_id,index_time,Scoria_latitude,Scoria_longitude,Skintemp_Value
154688,esse02,2024-02-20 18:06:01.000000+0800,NaN,NaN,27.944
154689,esse02,2024-02-20 18:11:01.000000+0800,NaN,NaN,27.507
154690,esse02,2024-02-20 18:16:01.000000+0800,NaN,NaN,32.624
154691,esse02,2024-02-20 18:21:01.000000+0800,NaN,NaN,33.248
154692,esse02,2024-02-20 18:26:01.000000+0800,NaN,NaN,29.817
...,...,...,...,...,...
688188,esse14,2024-03-22 23:53:01.000000+0800,NaN,NaN,31.893
688189,esse14,2024-03-22 23:58:01.000000+0800,NaN,NaN,31.768
688190,esse14,2024-03-23 00:03:01.000000+0800,NaN,NaN,28.770
688191,esse14,2024-03-23 00:08:01.000000+0800,NaN,NaN,30.394
688192,esse14,2024-03-23 00:13:01.000000+0800,NaN,NaN,29.270

c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\processed\2024-05-09_1233_Cozie_main_df.csv

C:\Users\gottk\AppData\Local\Temp\ipykernel_44808\3744918243.py:16: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,41,42,43,44,48,50,54,55,57,58,60,61,63,64,66,67,69,70,73,75,77,78,80,81,83,84,86,87,89,90,92,93,94,96,97,99,100,102,103,105,106,108,109,111,112,115,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,139,140,142,143,145,146,147,148,151,152,155,157,160,178,179,181,182,184,185,187,188,190,191,193,194,196,197,199,200,202,203,205,206,208,209,211,212,215,216,218,219) have mixed types. Specify dtype option on import or set low_memory=False.
  COZIE_MAIN_DF = pd.read_csv(file_path_file)

        c_run_number     c_latitude  ts_heart_rate
count  302361.000000  600039.000000   65553.000000
mean       35.132325       1.314256      93.902705
std        34.476595       0.041597      25.004431
min         0.000000       0.000000      42.000000
25%        15.000000       1.295406      76.000000
50%        28.000000       1.297182      92.000000
75%        45.000000       1.306330     108.000000
max       299.000000       1.568139     189.000000

In [16]:
selected_columns = ['c_run_number', 'c_latitude', 'ts_heart_rate']  # Replace with your selected column names
display(COZIE_MAIN_DF[selected_columns].describe())

filtered_df = COZIE_MAIN_DF[COZIE_MAIN_DF['participant_id'] == 'esse00']  # Filtering dataframe by participant_id
display(filtered_df[selected_columns].describe())

        c_run_number     c_latitude  ts_heart_rate
count  302361.000000  600039.000000   65553.000000
mean       35.132325       1.314256      93.902705
std        34.476595       0.041597      25.004431
min         0.000000       0.000000      42.000000
25%        15.000000       1.295406      76.000000
50%        28.000000       1.297182      92.000000
75%        45.000000       1.306330     108.000000
max       299.000000       1.568139     189.000000

       c_run_number    c_latitude  ts_heart_rate
count  20813.000000  95748.000000    8875.000000
mean     105.129198      1.298123      92.827042
std       82.797998      0.008566      12.535492
min        0.000000      1.263252      54.000000
25%       29.000000      1.296678      86.000000
50%       88.000000      1.297053      93.000000
75%      160.000000      1.298905     101.000000
max      299.000000      1.361829     170.000000

In [14]:
#identifier = man_identifier
file_path_file = os.path.join(directory_data_processed_path, identifier + '_Cozie_main_df.csv')
COZIE_MAIN_DF = pd.read_csv(file_path_file)
display(COZIE_MAIN_DF[['index_time', 'participant_id']].head(30))
display(COZIE_MAIN_DF.dropna(subset=['Scoria_latitude'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']].head(5))
display(COZIE_MAIN_DF.dropna(subset=['Skintemp_Value'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']].head(5))

#here is a still a problem!

COZIE_MAIN_DF['index_time'] = pd.to_datetime(COZIE_MAIN_DF['index_time'], format='%Y-%m-%d %H:%M:%S.%f%z')


print(COZIE_MAIN_DF[['index_time']].dtypes)
%store COZIE_MAIN_DF

C:\Users\gottk\AppData\Local\Temp\ipykernel_44808\2368831430.py:3: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,41,42,43,44,48,50,54,55,57,58,60,61,63,64,66,67,69,70,73,75,77,78,80,81,83,84,86,87,89,90,92,93,94,96,97,99,100,102,103,105,106,108,109,111,112,115,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,139,140,142,143,145,146,147,148,151,152,155,157,160,178,179,181,182,184,185,187,188,190,191,193,194,196,197,199,200,202,203,205,206,208,209,211,212,215,216,218,219) have mixed types. Specify dtype option on import or set low_memory=False.
  COZIE_MAIN_DF = pd.read_csv(file_path_file)

                         index_time participant_id
0   2024-01-18 00:00:00.000000+0800         esse00
1   2024-01-18 07:21:45.906000+0800         esse00
2   2024-01-18 08:54:08.994000+0800         esse00
3   2024-01-18 08:55:47.902000+0800         esse00
4   2024-01-18 08:55:48.170000+0800         esse00
5   2024-01-18 08:55:53.641000+0800         esse00
6   2024-01-18 08:56:01.383000+0800         esse00
7   2024-01-18 08:56:02.431000+0800         esse00
8   2024-01-18 08:56:03.182000+0800         esse00
9   2024-01-18 08:56:07.233000+0800         esse00
10  2024-01-18 08:56:08.183000+0800         esse00
11  2024-01-18 08:56:18.750000+0800         esse00
12  2024-01-18 08:56:28.002000+0800         esse00
13  2024-01-18 08:56:29.068000+0800         esse00
14  2024-01-18 08:56:37.158000+0800         esse00
15  2024-01-18 08:56:43.351000+0800         esse00
16  2024-01-18 08:56:47.068000+0800         esse00
17  2024-01-18 08:56:47.985000+0800         esse00
18  2024-01-18 08:56:48.893000+0800         esse00
19  2024-01-18 08:56:57.579000+0800         esse00
20  2024-01-18 08:59:08.008000+0800         esse00
21  2024-01-18 09:02:23.008000+0800         esse00
22  2024-01-18 09:08:43.516000+0800         esse00
23  2024-01-18 09:10:03.775000+0800         esse00
24  2024-01-18 09:12:26.010000+0800         esse00
25  2024-01-18 09:19:39.010000+0800         esse00
26  2024-01-18 09:20:00.000000+0800         esse00
27  2024-01-18 09:21:19.125000+0800         esse00
28  2024-01-18 09:21:20.125000+0800         esse00
29  2024-01-18 09:24:12.013000+0800         esse00

,participant_id,index_time,Scoria_latitude,Scoria_longitude,Skintemp_Value
20813,esse00,2023-11-22 22:41:56.000000+0800,1.296587,103.770419,NaN
20814,esse00,2023-11-22 22:42:05.000000+0800,1.296587,103.770419,NaN
20815,esse00,2023-11-22 22:42:31.000000+0800,1.296750,103.770407,NaN
20816,esse00,2023-11-22 22:42:37.000000+0800,1.296676,103.770403,NaN
20817,esse00,2023-11-22 22:42:43.000000+0800,1.296675,103.770339,NaN

,participant_id,index_time,Scoria_latitude,Scoria_longitude,Skintemp_Value
154688,esse02,2024-02-20 18:06:01.000000+0800,NaN,NaN,27.944
154689,esse02,2024-02-20 18:11:01.000000+0800,NaN,NaN,27.507
154690,esse02,2024-02-20 18:16:01.000000+0800,NaN,NaN,32.624
154691,esse02,2024-02-20 18:21:01.000000+0800,NaN,NaN,33.248
154692,esse02,2024-02-20 18:26:01.000000+0800,NaN,NaN,29.817

index_time    datetime64[ns, UTC+08:00]
dtype: object
Stored 'COZIE_MAIN_DF' (DataFrame)

In [ ]:
COZIE_MAIN_DF.head(5)


# Copy the DataFrame and set the index to 'index_time'
df = COZIE_MAIN_DF.copy()
df['index_time'] = pd.to_datetime(df['index_time'])
df.set_index('index_time', inplace=True)

# Create traces for each participant
traces = []
for participant_id, data in df.groupby('participant_id'):
    trace = go.Scatter(x=data.index, y=data['Skintemp_Value'], mode='lines', name=f'Participant {participant_id}')
    traces.append(trace)

# Create the Plotly figure
fig = go.Figure(traces)

# Customize the layout
fig.update_layout(
    title='Skintemp_Value for Each Participant Over Time',
    xaxis_title='Time',
    yaxis_title='Skintemp_Value',
    legend_title='Participant ID'
)

# Show the plot
fig.show()