# Setup

This is the main jupiter notebook, which is always needed in order to use the other available ipynb files under the src directory.

In [2]:
from all_imports import *

import _modules


_modules.test1()

#Prints all available functions of the _modules folder, generally ignores the '__init__.py', additional files can be added as str in a list.
_modules.print_functions_folder(modules_folder='_modules') #ignore_files=['__init__.py']

 ### test init###
 ### test ###
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src
{'computing': ['calculate_distances',
               'calculate_runs_on_time_difference',
               'calculate_step_count_intensity',
               'calculate_time_difference',
               'flag_on_int_threshold',
               'haversine_vector',
               'pprint'],
 'helper': ['add_dfdata_to_participant_id_in_dictionary',
            'find_files_in_directory',
            'haversine_vector',
            'merge_list_of_columns_in_dictionary',
            'pprint',
            'print_log_separator'],
 'plots': ['Plot_heatmap_participant_data',
           'Plot_linechart_participant_data',
           'Plot_plotly_heatmap_participant_data',
           'haversine_vector',
           'pprint'],
 'utilities': ['folder_variable_setup',
               'haversine_vector',
               'import_scoria_and_add_to_dictionary',
               'pprint',
               'print_functions_folder',
               'query_participants_data',
               'test1']}

In [ ]:
# Test the colors
plt.figure(figsize=(8, 6))
plt.plot([0, 1], [0, 1], color=_modules.TUMBlue, label='TUMBlue')
plt.plot([0, 1], [1, 0], color=_modules.TUMSecondaryBlue, label='TUMSecondaryBlue')
plt.plot([1, 0], [0, 1], color=_modules.TUMSecondaryBlue2, label='TUMSecondaryBlue2')
plt.plot([1, 0], [1, 0], color=_modules.TUMBlack, label='TUMBlack')
plt.plot([0.5, 0.5], [0, 1], color=_modules.TUMWhite, label='TUMWhite')
plt.plot([0, 1], [0.5, 0.5], color=_modules.TUMDarkGray, label='TUMDarkGray')
plt.plot([0.5, 0.5], [1, 0], color=_modules.TUMGray, label='TUMGray')
plt.plot([0, 1], [0, 0], color=_modules.TUMLightGray, label='TUMLightGray')
plt.plot([1, 0], [1, 1], color=_modules.TUMAccentGray, label='TUMAccentGray')
plt.plot([0, 1], [1, 1], color=_modules.TUMAccentOrange, label='TUMAccentOrange')
plt.plot([1, 0], [0, 0], color=_modules.TUMAccentGreen, label='TUMAccentGreen')
plt.plot([0, 1], [0.25, 0.75], color=_modules.TUMAccentLightBlue, label='TUMAccentLightBlue')
plt.plot([1, 0], [0.25, 0.75], color=_modules.TUMAccentBlue, label='TUMAccentBlue')
plt.legend()
plt.show()

# Cozie

## Settings

In [3]:
# <--- Settings --->
YOUR_TIMEZONE = 'Asia/Singapore'
ID_EXPERIMENT = 'esse'
WEEKS = "100"  # Number of weeks from which the data is retrieved, ending now, i.e., start date look up: now - WEEKS, end date look up: now

lst_participants = ['esse00', 'esse02', 'esse07', 'esse08', 'esse09', 'esse10', 'esse11', 'esse13','esse14']  
#lst_participants = ['esse00', 'esse02'] 

toggle_local_data = True #This determines if you want to use already locally stored data (defined in man_identifier), or if the new data should be pulled from Cozie. 
%store toggle_local_data
#'True' - Take manual data
#'False' - Take recent data
man_identifier = '2024-05-09_1233'
%store man_identifier

#Enables additional print statements
#toggle_debugging = True

# <--- Config.py --->
#Store the not publicly available variables needed that are set in the config.py file
API_KEY = _modules.API_KEY


# <--- Directories --->
#Store all necessary folder paths for the directory
(
    directory_path,
    directory_data_raw_path,
    directory_data_processed_path,
    directory_report_path,
    identifier,
    directory_data_ws_path
) = _modules.folder_variable_setup()

pprint([directory_path, directory_data_raw_path, directory_data_processed_path, directory_report_path, identifier, directory_data_ws_path])
%store directory_path
%store directory_data_raw_path
%store directory_data_processed_path
%store directory_report_path
%store identifier
%store directory_data_ws_path

print(directory_data_raw_path)

Stored 'toggle_local_data' (bool)
Stored 'man_identifier' (str)
2024-05-22_0908
['c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\src',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\raw',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\report',
 '2024-05-22_0908',
 'c:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\watch_surveys']
Stored 'directory_path' (str)
Stored 'directory_data_raw_path' (str)
Stored 'directory_data_processed_path' (str)
Stored 'directory_report_path' (str)
Stored 'identifier' (str)
Stored 'directory_data_ws_path' (str)
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw

## Download or load data

In [3]:
# <--- Load Data and Organize Cozie Data --->
#This queries all defined participants in lst_participants and stores it into a dictionary.
if toggle_local_data == True:
    print('>>> no Cozie data was retreived')   
else:
    man_identifier = ''
    participant_data = _modules.query_participants_data(lst_participants, YOUR_TIMEZONE, ID_EXPERIMENT, WEEKS, API_KEY)
    print('>>> new Cozie was pulled')

    #Here the data will be stored based on the identifier (time) under 'data\raw' which can be later retreived again, for faster processing.
    directory_data_raw_identifier = os.path.join(directory_data_raw_path, identifier)
    if not os.path.exists(directory_data_raw_identifier):
        os.makedirs(directory_data_raw_identifier)

    print(identifier)
    result_dfs = []
    for participant_id, df in participant_data.items():

        result_df_participant = df 
        result_dfs.append(result_df_participant)
        
        # Define the file path for the CSV within identifier directory
        csv_filename = f"Cozie_participant_{participant_id}.csv"
        csv_path = os.path.join(directory_data_raw_identifier, csv_filename)
        result_df_participant.to_csv(csv_path, index=False) 


#Reload the data, into the participant_data_local dictionary - if no manual idenfitifer is defined, the previously saved data is stored.
participant_data_local = {}

#Check conditions
if toggle_local_data == True and man_identifier is not None:

#Load locally stored data
    directory_saved_data = os.path.join(directory_data_raw_path, man_identifier)
    # Check if it is available
    if os.path.exists(directory_saved_data):
        for filename in os.listdir(directory_saved_data):
            if filename.endswith(".csv"):
                print(filename)
                # Extract participant ID from the filename
                participant_id = filename.split("_")[2].split(".")[0]

                # Read CSV file into a DataFrame
                csv_path = os.path.join(directory_saved_data, filename)
                df = pd.read_csv(csv_path, low_memory=False) #Low memory false: cause pandas to read the entire file into memory at once, potentially using more memory but better type inference.

                # Add DataFrame to participant_data dictionary
                participant_data_local[participant_id] = df
        print('>>> Reloaded data into the participant_data_local from local data')
else:
    #Load locally stored data, which has been just retreived from Cozie
    directory_saved_data = directory_data_raw_identifier
    # Check if it is available
    if os.path.exists(directory_saved_data):
        for filename in os.listdir(directory_saved_data):
            if filename.endswith(".csv"):
                print(filename)
                # Extract participant ID from the filename
                participant_id = filename.split("_")[2].split(".")[0]

                # Read CSV file into a DataFrame
                csv_path = os.path.join(directory_saved_data, filename)
                df = pd.read_csv(csv_path, low_memory=False) #Low memory false: cause pandas to read the entire file into memory at once, potentially using more memory but better type inference.

                # Add DataFrame to participant_data dictionary
                participant_data_local[participant_id] = df
                
        print('>>> Reloaded data into the participant_data_local from recent Cozie data')

#Store the dataframe
%store participant_data_local

>>> no Cozie data was retreived
Cozie_participant_esse00.csv
Cozie_participant_esse02.csv
Cozie_participant_esse07.csv
Cozie_participant_esse08.csv
Cozie_participant_esse09.csv
Cozie_participant_esse10.csv
Cozie_participant_esse11.csv
Cozie_participant_esse13.csv
Cozie_participant_esse14.csv
>>> Reloaded data into the participant_data_local from local data
Stored 'participant_data_local' (dict)

# Compute Data

In [ ]:
# <--- Data Flagging --->

# move settings to here

# Data computing and flagging

## Study Region

In [ ]:
#Checks if the points are inside a specific region, defined as a shapefile.

# Load the shapefile for the study region
study_region_shapefile: str = "C:/Users/gottk/OneDrive/GITHUB/calma-esse-heat-stress-internal/Esse/data/study_region"
study_region: Union[gpd.GeoDataFrame, None] = gpd.read_file(study_region_shapefile) 


for participant_id, df in participant_data_local.items():
    df['in_study_region'] = np.nan
    df['id_participant'] = participant_id  

    df['in_study_region'] = df['in_study_region'].astype(str)

    for index, row in df.iterrows():
        if pd.isna(row['index_time']):
            df.at[index, 'in_study_region'] = np.nan
        else:
            point = gpd.points_from_xy([row['ws_longitude']], [row['ws_latitude']])
            if study_region.contains(point[0]).any():
                df.at[index, 'in_study_region'] = np.nan
            else:
                df.at[index, 'in_study_region'] = 'NotinRegion'

    #true_count: int = df['in_study_region'].sum()
    #false_count: int = (~df['in_study_region']).sum()
    #print(participant_id, true_count, false_count)

## Time difference

In [ ]:
ws_time_treshold: int = 1000 #in seconds

_modules.print_log_separator(text = 'Computing time difference c_difference_time_ws')
participant_data_local = _modules.calculate_time_difference(participant_data_local,  # type: ignore
                                                            reference_column='q_general_location_envi', 
                                                            identifier='ws', 
                                                            debug=True)
_modules.print_log_separator(text = f'Flagging time difference on {ws_time_treshold}')
participant_data_local = _modules.flag_on_int_threshold(participant_data_local,  # type: ignore
                                                        reference_column='c_difference_time_ws',
                                                        threshold = ws_time_treshold, 
                                                        debug = True)

In [ ]:
for participants in lst_participants:
    display(participant_data_local[participants][participant_data_local[participants]['c_difference_time_ws'].notna()][['index_time', 'id_participant', 'c_difference_time_ws']].describe())

## Define Run's

In [ ]:
max_threshold: int = 300
min_threshold: int = 1800


_modules.print_log_separator(text = 'Defining indivdual runs c_run_number')
participant_data_local = _modules.calculate_runs_on_time_difference(participant_data_local,  # type: ignore
                                                                    reference_time_column='c_difference_time_ws',
                                                                    min_threshold = max_threshold, 
                                                                    max_threshold = min_threshold, 
                                                                    debug = True)

In [ ]:
# unique_run_numbers = {}

# # Dictionary to store whether there are c_run_numbers occurring less than or equal to two times for each participant
# c_run_numbers_less_than_or_equal_to_2 = {}
# numberofruns: int = 8

# # Iterate over the dictionary and analyze each participant's data
# for participant_id, participant_df in participant_data_local.items():
#     # Check if there are c_run_numbers occurring less than or equal to two times
#     if (participant_df['c_run_number'].value_counts() <= numberofruns).any():
#         # Remove indices where c_run_number occurs less than or equal to two times
#         participant_df = participant_df[participant_df.groupby('c_run_number')['c_run_number'].transform('count') > numberofruns]

#     # Calculate the number of unique c_run_number values after filtering
#     unique_run_numbers[participant_id] = participant_df['c_run_number'].nunique()
#     # Store whether there are c_run_numbers occurring less than or equal to two times
#     c_run_numbers_less_than_or_equal_to_2[participant_id] = (participant_df['c_run_number'].value_counts() <= 2).any()

# # Print the result
# print("Number of unique c_run_numbers for each participant after filtering:")
# pprint(unique_run_numbers)
# print("\nExistence of c_run_numbers occurring less than or equal to two times for each participant after filtering:")
# pprint(c_run_numbers_less_than_or_equal_to_2)

## Flag Steps

In [ ]:


_modules.print_log_separator(text = 'Defining indivdual runs c_run_number')
participant_data_local = _modules.calculate_step_count_intensity(participant_data_local, 
                                                        reference_step_column = 'ws_step_count', 
                                                        reference_ws_column = 'q_general_location_envi',  
                                                        reference_timediff_column = 'c_difference_time_ws', 
                                                        debug=True)

## Movement Speed

#### Add Scoria and Skin Temperature Data

In [4]:
#Add Scoria and temperature data before
selected_columns = ['latitude', 'longitude', 'horizontal_accuracy',
                    'msl_altitude', 'ellipsoid_altitude', 'vertical_accuracy', 'story',
                    'speed', 'speed_accuracy', 'course', 'course_accuracy']

time_column = ['index_time']

scoria_file_paths =[r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse00_01_Scoria_Export_2024-04-02_15-11-11.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse02_03_Scoria_Export_2024-03-13_14-26-14.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse07_03_Scoria_Export_2024-03-12_13-51-19.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse08_02_Scoria_Export_2024-03-12_14-14-29.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse09_03_Scoria_Export_2024-03-14_11-59-05.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse10_03_Scoria_Export_2024-03-13_09-07-46.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse11_03_Scoria_Export_2024-03-12_12-10-00.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse13_02_Scoria_Export_2024-03-05_13-02-47.csv',
                    r'C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse14_03_Scoria_Export_2024-03-14_13-54-51.csv']

_modules.print_log_separator(text = 'Adding the Scoria Data to the dictionary')
participant_data_local = _modules.import_scoria_and_add_to_dictionary(scoria_file_paths, 
                                                        participant_data_local, 
                                                        time_column = time_column, 
                                                        selected_columns = selected_columns,
                                                        text_addition = 'Scoria_',
                                                        df_time_column = 'timestamp',
                                                        debug=False)


skintemp_filepath = os.path.join(directory_data_raw_path, 'SkinTemp')
skintemp_file_paths, skintemp_file_names = _modules.find_files_in_directory(skintemp_filepath, 'csv')

selected_columns = ['Value']

additional_column = ['index_time']

for file_paths in skintemp_file_paths:
    print(file_paths)
    df = pd.read_csv(file_paths, skiprows=18)
    df['Date/Time'] = pd.to_datetime(df['Date/Time'], format='%m/%d/%y %I:%M:%S %p')
    
    df['Date/Time'] = df['Date/Time'].dt.tz_localize('UTC').dt.tz_convert('Asia/Singapore')
    df['Date/Time'] = df['Date/Time'].dt.strftime('%Y-%m-%d %H:%M:%S.%f%z')  # Format the time as desired

    df.rename(columns={'Date/Time': 'index_time'}, inplace=True)
    #df.set_index('index_time', inplace=True)  # Setting 'index_time' as index
    renamed_columns = ['Skintemp_' + col for col in selected_columns]
    result_list = renamed_columns
    df.rename(columns={col: 'Skintemp_' + col for col in selected_columns}, inplace=True)

    # Retrieve the participant_id
    filename = os.path.basename(file_paths)
    split_filename = filename.split('_')
    participant_id = split_filename[0]

    df['id_participant'] = participant_id

    # Calling the function
    all_selected_columns = additional_column + renamed_columns
    _modules.add_dfdata_to_participant_id_in_dictionary(df, participant_data_local, participant_id, all_selected_columns)

----------------------------------------------------------------------------------------------------
                              Adding the Scoria Data to the dictionary
----------------------------------------------------------------------------------------------------
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse00_01_Scoria_Export_2024-04-02_15-11-11.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse02_03_Scoria_Export_2024-03-13_14-26-14.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse07_03_Scoria_Export_2024-03-12_13-51-19.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse08_02_Scoria_Export_2024-03-12_14-14-29.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse09_03_Scoria_Export_2024-03-14_11-59-05.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse10_03_Scoria_Export_2024-03-13_09-07-46.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse11_03_Scoria_Export_2024-03-12_12-10-00.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse13_02_Scoria_Export_2024-03-05_13-02-47.csv
C:\\Users\\gottk\\OneDrive\\GITHUB\\calma-esse-heat-stress-internal\\Esse\\data\\processed\\Scoria\\esse14_03_Scoria_Export_2024-03-14_13-54-51.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse02_Sensor_01_1D0000007FF62341_022824.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse02_Sensor_02_1D0000007FF62341_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse02_Sensor_03_1D0000007FF62341_031324.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse07_Sensor_01_670000007FF3E241_022724.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse07_Sensor_02_670000007FF3E241_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse07_Sensor_03_670000007FF3E241_031224.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse08_Sensor_01_A00000007FF3A441_022724.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse08_Sensor_02_A00000007FF3A441_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse08_Sensor_03_A00000007FF3A441_031224.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_01_D70000007EABF841_022624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_02_D70000007EABF841_030624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_03_D70000007EABF841_031424.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse09_Sensor_04_D70000007EABF841_032024.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_01_F20000007FF60041_022824.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_02_F20000007FF60041_030624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_03_F20000007FF60041_031324.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse10_Sensor_04_F20000007FF60041_031924.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse11_Sensor_01_7C0000007EABAF41_022624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse11_Sensor_02_7C0000007EABAF41_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse11_Sensor_03_7C0000007EABAF41_031224.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse13_Sensor_01_360000007FF6D041_022624.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse13_Sensor_02_360000007FF6D041_030524.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse14_Sensor_01_240000007FF57041_022924.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse14_Sensor_03_240000007FF57041_031424.csv
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\raw\SkinTemp\esse14_Sensor_04_240000007FF57041_032224.csv

#### Location

In [5]:
#TODO ERROR!

# Creating the merged column
columns_to_merge = ['ws_latitude', 'ts_latitude', 'Scoria_latitude']
participant_data_local = _modules.merge_list_of_columns_in_dictionary(participant_data_local, 
                                                            list_of_columns = columns_to_merge, 
                                                            new_columnname = 'c_latitude')

columns_to_merge = ['ws_longitude', 'ts_longitude', 'Scoria_longitude']
participant_data_local = _modules.merge_list_of_columns_in_dictionary(participant_data_local, 
                                                            list_of_columns = columns_to_merge, 
                                                            new_columnname = 'c_longitude')

c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\src\_modules\helper.py:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_columnname] = np.nan

In [6]:
for participant_id, participant_df in participant_data_local.items():
    print(participant_id)
    display(participant_df[['c_latitude', 'c_longitude', 'Scoria_latitude', 'Scoria_longitude']].describe())

esse00

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  95748.000000  95748.000000     74935.000000      74935.000000
mean       1.298123    103.794457         1.298453        103.795554
std        0.008566      0.030326         0.009207          0.033211
min        1.263252    103.769331         1.263252        103.769331
25%        1.296678    103.773869         1.296677        103.773792
50%        1.297053    103.794417         1.297071        103.793150
75%        1.298905    103.801155         1.299119        103.801161
max        1.361829    103.990760         1.361829        103.990760

esse02

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  40498.000000  40498.000000     16216.000000      16216.000000
mean       1.299813    103.774758         1.297260        103.774138
std        0.022060      0.008401         0.005793          0.004346
min        1.264645    103.720153         1.291039        103.745658
25%        1.293305    103.772572         1.293248        103.772727
50%        1.296796    103.774093         1.296650        103.774043
75%        1.300236    103.774867         1.300189        103.774798
max        1.568139    103.986766         1.485376        103.986766

esse07

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  37270.000000  37270.000000     15513.000000      15513.000000
mean       1.293697    103.739207         1.293592        103.775803
std        0.024773      1.937840         0.005452          0.005393
min        0.000000      0.000000         1.271792        103.765331
25%        1.292370    103.773192         1.292217        103.773390
50%        1.293768    103.774329         1.293494        103.774405
75%        1.296185    103.774958         1.295650        103.775296
max        1.309912    103.798687         1.309912        103.798687

esse08

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  83451.000000  83451.000000     38663.000000      38663.000000
mean       1.309166    103.776904         1.308572        103.782503
std        0.017806      0.718866         0.014884          0.023636
min        0.000000      0.000000         1.264625        103.764491
25%        1.297323    103.772328         1.297303        103.772311
50%        1.304792    103.774094         1.304452        103.774031
75%        1.317822    103.777406         1.315335        103.777794
max        1.342405    103.876700         1.342405        103.876700

esse09

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  99632.000000  99632.000000     76267.000000      76267.000000
mean       1.311368    103.797777         1.315045        103.801772
std        0.038462      0.037347         0.041418          0.039866
min        1.262945    103.757843         1.262945        103.757843
25%        1.290766    103.779916         1.290771        103.779925
50%        1.294505    103.780368         1.294642        103.780430
75%        1.299137    103.784975         1.314712        103.819698
max        1.400596    103.914801         1.400596        103.914801

esse10

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  96014.000000  96014.000000     46188.000000      46188.000000
mean       1.299808    103.777373         1.299688        103.777536
std        0.007657      0.005707         0.007687          0.005685
min        1.279941    103.738068         1.279941        103.738068
25%        1.296673    103.773941         1.296674        103.774274
50%        1.296923    103.779276         1.296924        103.779276
75%        1.299358    103.780158         1.299294        103.780174
max        1.343494    103.816237         1.343494        103.816237

esse11

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  43930.000000  43930.000000     18572.000000      18572.000000
mean       1.301954    103.784573         1.302257        103.785860
std        0.010551      0.024192         0.011223          0.025967
min        1.276051    103.741543         1.276051        103.741543
25%        1.294452    103.773599         1.294457        103.773576
50%        1.304140    103.773907         1.304925        103.773900
75%        1.306340    103.784472         1.306345        103.785207
max        1.337253    103.853240         1.337253        103.852309

esse13

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  90083.000000  90083.000000     42228.000000      42228.000000
mean       1.378188    103.811795         1.380346        103.811738
std        0.062626      0.031317         0.062215          0.031477
min        1.276607    103.740503         1.276607        103.740503
25%        1.299802    103.776129         1.300841        103.776107
50%        1.404984    103.830325         1.412569        103.830354
75%        1.438321    103.834373         1.438348        103.834467
max        1.449905    103.858904         1.449905        103.858904

esse14

         c_latitude   c_longitude  Scoria_latitude  Scoria_longitude
count  13413.000000  13413.000000      2791.000000       2791.000000
mean       1.297599    103.789065         1.297657        103.788940
std        0.004412      0.027884         0.003805          0.027598
min        1.268159    103.769471         1.294004        103.770225
25%        1.295795    103.773369         1.295786        103.773371
50%        1.296620    103.779472         1.296613        103.779497
75%        1.297469    103.783139         1.297373        103.783450
max        1.443612    103.872771         1.322644        103.854389

In [ ]:
# _modules.print_log_separator(text = 'Calculation Location differences')
# participant_data_local = _modules.calculate_distances(participant_data_local, 
#                                                         reference_column_latitude = 'c_latitude',
#                                                         reference_column_longitude = 'c_longitude',
#                                                         reference_distance_column = 'c_distance',
#                                                         debug=True)

In [7]:
display(participant_data_local['esse00'][['ws_longitude', 'ts_longitude', 'c_longitude']].head(10))
display(participant_data_local['esse00'][participant_data_local['esse00']['ws_longitude'].notna()][['ws_longitude', 'ts_longitude', 'c_longitude']].head(10))

   ws_longitude  ts_longitude  c_longitude
0           NaN           NaN   103.770419
1           NaN           NaN   103.770419
2           NaN           NaN   103.770407
3           NaN    103.770866   103.770403
4           NaN           NaN   103.770339
5           NaN           NaN   103.770405
6           NaN           NaN   103.770388
7           NaN           NaN   103.770428
8           NaN           NaN   103.770394
9           NaN           NaN   103.770423

      ws_longitude  ts_longitude  c_longitude
71      103.770917           NaN   103.770425
101     103.770917           NaN   103.770206
281     103.770883           NaN   103.776250
885     103.773445           NaN   103.800586
1984    103.770938           NaN   103.771246
2063    103.770046           NaN   103.771557
2072    103.770660           NaN   103.771477
2080    103.771599           NaN   103.771503
2095    103.772946           NaN   103.771049
2126    103.774817           NaN   103.770389

In [ ]:
# movespeed_treshold = 1.5

# for participant_id, df in participant_data_local.items():
#     df['c_movespeed'] = np.nan 
#     df['flag_c_movespeed'] = np.nan 
    
#     for index, row in df.iterrows():
#         if not pd.isna(row['c_difference_time_ws']) and not pd.isna(row['c_distance']):
#             # Convert timedelta to seconds
#             time_diff_seconds = row['c_difference_time_ws'].total_seconds()
#             # Check if time difference is not zero to avoid division by zero error
#             if time_diff_seconds != 0:
#                 movespeed = row['c_distance'] / time_diff_seconds
#                 df.at[index, 'c_movespeed'] = movespeed

#                 if movespeed >= movespeed_treshold:
#                     df.at[index, 'flag_c_movespeed'] = True
#                 else:
#                     df.at[index, 'flag_c_movespeed'] = False

# Create and Store the data

TO DO"

Create functions for all the above calls

sort this notebook and clean it up

create a new additional dashboard notebook

create a new analysis notebook? maybe based on data

migrate some of this into a thermal walk notebook, to get the necessary data and sort it by time of the outdoor surveys
    then retreive the infromation from Scoria, etc.

In [9]:
#Make a combined dataframe
combined_df = pd.concat(list(participant_data_local.values()), ignore_index=True)
#display(combined_df[['index_time', 'c_run_number', 'Scoria_latitude']].head(100))

#display(combined_df.dropna(subset=['Scoria_latitude'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']])
#display(combined_df.dropna(subset=['Skintemp_Value'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']])

pprint(combined_df.columns)

#Save the data
file_path_file = os.path.join(directory_data_processed_path, identifier + '_Cozie_main_df.csv')
print(file_path_file)
#combined_df[['participant_id', 'index_time','c_latitude', 'c_longitude', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']].to_csv(file_path_file)
#TODO SAVE ONLY THE RELEVANT COLUMNS
combined_df.to_csv(file_path_file, index=False)



COZIE_MAIN_DF = pd.read_csv(file_path_file)



#Deubgging
#display(combined_df[['participant_id', 'in_study_region']].head(100))
#display(combined_df[['participant_id', 'in_study_region']].dropna(subset=['in_study_region']).head(100))
#combined_df_filtered = combined_df[combined_df['participant_id'] == 'esse02']
#filtered_data = combined_df_filtered.dropna(subset=['ws_step_count', 'q_general_location_envi'], how='all')[['participant_id', 'index_time','ws_latitude','c_latitude', 'c_longitude', 'q_general_location_envi', 'ws_step_count', 'c_difference_time_ws', 'c_run_number', 'c_run_changed', 'c_ws_step_count', 'flag_ws_step_count', 'c_ws_step_count_intensity', 'flag_c_movespeed', 'c_movespeed']].head(60)
#display(filtered_data)
#combined_df.dropna(subset=['ws_step_count'])[['participant_id', 'index_time','ws_latitude', 'ws_step_count', 'c_ws_step_count']].to_csv('test.csv')
#combined_df.dropna(subset=['in_study_region']).to_csv('test.csv')

#index time is not importet yet

Index(['index_time', 'id_participant', 'id_onesignal', 'api_phone_survey_url',
       'api_read_key', 'api_read_url', 'api_watch_survey_url', 'api_write_key',
       'api_write_url', 'app_bundle_build_number',
       ...
       'ws_sleep_unspecified', 'ws_sleep_unspecified_lambda',
       'ws_sleep_unspecified_trigger', 'Skintemp_Value',
       'ts_wrist_temperature', 'ts_wrist_temperature_lambda',
       'ts_wrist_temperature_trigger', 'ws_wrist_temperature',
       'ws_wrist_temperature_lambda', 'ws_wrist_temperature_trigger'],
      dtype='object', length=209)
c:\Users\gottk\OneDrive\GITHUB\calma-esse-heat-stress-internal\Esse\data\processed\2024-05-20_2356_Cozie_main_df.csv

C:\Users\gottk\AppData\Local\Temp\ipykernel_22344\1564294948.py:19: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,41,42,43,44,48,50,54,55,57,58,60,61,63,64,66,67,69,70,73,75,77,78,80,81,83,84,86,87,89,90,92,93,94,96,97,99,100,102,103,105,106,108,109,111,112,115,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,139,140,142,143,145,146,147,148,151,163,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,204,205,207,208) have mixed types. Specify dtype option on import or set low_memory=False.
  COZIE_MAIN_DF = pd.read_csv(file_path_file)

In [ ]:
selected_columns = ['c_run_number', 'c_latitude', 'ts_heart_rate']  # Replace with your selected column names
display(COZIE_MAIN_DF[selected_columns].describe())

filtered_df = COZIE_MAIN_DF[COZIE_MAIN_DF['id_participant'] == 'esse00']  # Filtering dataframe by participant_id
display(filtered_df[selected_columns].describe())

In [6]:
#identifier = man_identifier
identifier = "2024-05-20_2356"


file_path_file = os.path.join(directory_data_processed_path, identifier + '_Cozie_main_df.csv')
COZIE_MAIN_DF = pd.read_csv(file_path_file)
display(COZIE_MAIN_DF[['index_time', 'participant_id']].head(30))
display(COZIE_MAIN_DF.dropna(subset=['Scoria_latitude'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']].head(5))
display(COZIE_MAIN_DF.dropna(subset=['Skintemp_Value'])[['participant_id', 'index_time', 'Scoria_latitude', 'Scoria_longitude', 'Skintemp_Value']].head(5))

#here is a still a problem!

COZIE_MAIN_DF['index_time'] = pd.to_datetime(COZIE_MAIN_DF['index_time'], format='%Y-%m-%d %H:%M:%S.%f%z')


print(COZIE_MAIN_DF[['index_time']].dtypes)
%store COZIE_MAIN_DF

C:\Users\gottk\AppData\Local\Temp\ipykernel_12020\2492703676.py:6: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,41,42,43,44,48,50,54,55,57,58,60,61,63,64,66,67,69,70,73,75,77,78,80,81,83,84,86,87,89,90,92,93,94,96,97,99,100,102,103,105,106,108,109,111,112,115,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,139,140,142,143,145,146,147,148,151,163,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,204,205,207,208) have mixed types. Specify dtype option on import or set low_memory=False.
  COZIE_MAIN_DF = pd.read_csv(file_path_file)

                         index_time participant_id
0   2024-01-18 00:00:00.000000+0800            NaN
1   2024-01-18 07:21:45.906000+0800            NaN
2   2024-01-18 08:54:08.994000+0800            NaN
3   2024-01-18 08:55:47.902000+0800            NaN
4   2024-01-18 08:55:48.170000+0800            NaN
5   2024-01-18 08:55:53.641000+0800            NaN
6   2024-01-18 08:56:01.383000+0800            NaN
7   2024-01-18 08:56:02.431000+0800            NaN
8   2024-01-18 08:56:03.182000+0800            NaN
9   2024-01-18 08:56:07.233000+0800            NaN
10  2024-01-18 08:56:08.183000+0800            NaN
11  2024-01-18 08:56:18.750000+0800            NaN
12  2024-01-18 08:56:28.002000+0800            NaN
13  2024-01-18 08:56:29.068000+0800            NaN
14  2024-01-18 08:56:37.158000+0800            NaN
15  2024-01-18 08:56:43.351000+0800            NaN
16  2024-01-18 08:56:47.068000+0800            NaN
17  2024-01-18 08:56:47.985000+0800            NaN
18  2024-01-18 08:56:48.893000+0800            NaN
19  2024-01-18 08:56:57.579000+0800            NaN
20  2024-01-18 08:59:08.008000+0800            NaN
21  2024-01-18 09:02:23.008000+0800            NaN
22  2024-01-18 09:08:43.516000+0800            NaN
23  2024-01-18 09:10:03.775000+0800            NaN
24  2024-01-18 09:12:26.010000+0800            NaN
25  2024-01-18 09:19:39.010000+0800            NaN
26  2024-01-18 09:20:00.000000+0800            NaN
27  2024-01-18 09:21:19.125000+0800            NaN
28  2024-01-18 09:21:20.125000+0800            NaN
29  2024-01-18 09:24:12.013000+0800            NaN

,participant_id,index_time,Scoria_latitude,Scoria_longitude,Skintemp_Value
20813,esse00,2023-11-22 22:41:56.000000+0800,1.296587,103.770419,NaN
20814,esse00,2023-11-22 22:42:05.000000+0800,1.296587,103.770419,NaN
20815,esse00,2023-11-22 22:42:31.000000+0800,1.296750,103.770407,NaN
20816,esse00,2023-11-22 22:42:37.000000+0800,1.296676,103.770403,NaN
20817,esse00,2023-11-22 22:42:43.000000+0800,1.296675,103.770339,NaN

,participant_id,index_time,Scoria_latitude,Scoria_longitude,Skintemp_Value
154688,esse02,2024-02-20 18:06:01.000000+0800,NaN,NaN,27.944
154689,esse02,2024-02-20 18:11:01.000000+0800,NaN,NaN,27.507
154690,esse02,2024-02-20 18:16:01.000000+0800,NaN,NaN,32.624
154691,esse02,2024-02-20 18:21:01.000000+0800,NaN,NaN,33.248
154692,esse02,2024-02-20 18:26:01.000000+0800,NaN,NaN,29.817

index_time    datetime64[ns, UTC+08:00]
dtype: object
Stored 'COZIE_MAIN_DF' (DataFrame)

TypeError: 'Index' object is not callable

In [11]:
columndata = pd.DataFrame(COZIE_MAIN_DF.columns, columns=["Column Names"])

# Save this DataFrame to a CSV file
columndata.to_csv("columndata.csv", index=False)

In [ ]:
COZIE_MAIN_DF.head(5)


# Copy the DataFrame and set the index to 'index_time'
df = COZIE_MAIN_DF.copy()
df['index_time'] = pd.to_datetime(df['index_time'])
df.set_index('index_time', inplace=True)

# Create traces for each participant
traces = []
for participant_id, data in df.groupby('participant_id'):
    trace = go.Scatter(x=data.index, y=data['Skintemp_Value'], mode='lines', name=f'Participant {participant_id}')
    traces.append(trace)

# Create the Plotly figure
fig = go.Figure(traces)

# Customize the layout
fig.update_layout(
    title='Skintemp_Value for Each Participant Over Time',
    xaxis_title='Time',
    yaxis_title='Skintemp_Value',
    legend_title='Participant ID'
)

# Show the plot
fig.show()